.card {
  display: flex;
  flex-direction: column;
  background: rgba(9, 11, 17, 0.349);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  background-size: 60%;
  background-repeat: no-repeat;
  border: 1px solid $color-border;
  padding: 30px;
  border-radius: 32px;
}

@include mediaSmallMobile {
  .card {
    padding: 30px 10px 30px 10px;
  }
}
